body {
    margin: 0;
}

/* HEADER */
header {
    height: 70px;
    width: 100vw;
    position: absolute;
    top: 0px;
}

/* FOOTER */
footer {
    height: 70px;
    width: 100vw;
    position: absolute;
    bottom: 0px;
}

/* SECTIONS */
section {
    height: 100vh;
    width: 100vw;
}

/* TITLE */
#title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 3rem;
}

#title p {
    font-size: 1.2rem;
    font-weight: bold;
}

/* PRODUCTS / SERVICES */

/* REVIEWS */

/* ABOUT */

/* STAFF */

/* MAP */

/* CONTACT */