body {
    margin: 0;
}

/* HEADER */
header {
    height: 70px;
    width: 100vw;
    position: fixed;
    top: 0px;
    /* for testing */
    background: black;
}

/* FOOTER */
footer {
    height: 70px;
    width: 100vw;
    position: fixed;
    bottom: 0px;
    /* for testing */
    background: black;
}

/* SECTIONS */
section {
    height: 100vh;
    display: none;
}

/* TITLE */
#title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 3rem;
}

#title p {
    font-size: 1.2rem;
    font-weight: bold;
}

/* PRODUCTS / SERVICES */

/* REVIEWS */

/* ABOUT */
#about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#about-container {
    padding: 0 10%;
}

#about h3 {
    font-size: 2rem;
}

#about p {
    margin: 16px 0 16px 16px;
}

/* STAFF */

/* MAP */

/* CONTACT */